body{
	font-size: 16px;
	margin: 0px auto;
	max-width: 1024px;
	min-width: 1024px;
	font-family: sans-serif;
	color:#717171;
	border: 1px solid green;
}
header{
	background: #f0f0f0
}
header article{
	padding-top: 2px;
	padding-bottom: 20px;
}

header article img{
	width: 70%;
	float left;
	margin-right: 10px;

}
header article input{
	margin-top: 5px;
	float: left;
	margin-left: 110px;
	margin-right: 40px;
	width: 12%;
	height: 25px;
	text-align: right;
	background: #eeeeee;
	border: 1px solid gray;
}
section{
	background-color: #2b2b2b;
}
#section01 article{
	width: 170px;
	display: inline-block;
	vertical-align: top;
	margin-top: 15px;
	padding-top: 22px;
	height: 280px;
	padding-left: 10px;

}
#section01 article:not(#sec01article01){
	margin-left: -6px;
}
#section01{
	padding-bottom: 20px;
}

#sec01article01{
margin-right: 95px;


}
#sec01article01 img{
margin-top: -25px;
margin-right: 95px;
width: 210px;
position: relative;

}
#sec01article01 nav{
padding-top: 10px;
padding-left: 28px;


}
#sec01article01 nav ul li{
padding: 5px;
list-style-type: none;

}

#sec01article02{
	background-color: #b4d052;

}
#sec01article03{
	background-color: #545454
}
#sec01article04{
	background-color: #d42d3f
}
#sec01article05{
	background-color: #e4e4e4
}
#section02{
	border-top: 1px solid gray;
}
#section02 article{
	margin-top: 20px;
	width: 300px;
	display: inline-block;
	margin-left: 27px;
	border-bottom: 1px dotted gray;
}
#section02 img{
	width: 240px;
	float: right;
	padding-bottom: 15px;

}
#sec02article01{

}
.white{
	color: white;
}
.l_size{
	font-size: 25px;

}
footer article{
	padding-top: 5px;
	width: 250px;
	display: inline-block;
	margin-left: 75px;
	vertical-align: top;
	padding-bottom: 30px;
}

.right{
	float: right;
}
