	body{
	 border: 1px solid blue;
	 max-width: 1024px;
	 margin: 0px auto;
	 font-size: 16px;
	}
	header{
		background: #B3D8EB;
	}

	header nav{
		background: #046fc1;
		padding: 0.02px 0px;
		width: 99%;
		margin: 0px auto;
		border-radius: 5px;
	}
	header nav ul li{
		display: inline-block;
		color: white;
		margin-right: 20px;
	}
	header form{
		float: right;
		margin-top: -40px;
		margin-right: 20px;
	}
	header form input{
		border-radius: 5px;
		height: 25px;
	}
	header form input[type="submit"]{
		background: green;
		border: 1px solid green;
		color: white;

	}

	#logo{
	margin-top: -160px;
	}

	#section01{
		margin-top: 15px;
	}
	#section01 article{
		text-align: center;
	}
	#section01 article img{
		border: 5px solid rgba(150,150,150,0.5);
	}
	#section02 article{
		display: inline-block;
		width: 33%;
		vertical-align: top;
		padding-bottom: 10px;
	}
	#section02 article input[type="submit"]{
		background: white;
		border-radius: 5px;
		color: blue;
		height: 30px;
		margin-left: 130px;
	}
	.anotherSection{
		font-size: 2.5em;
	}
	.bold{
		font-weight: bold;
	}
	.oneSection{
		font-size: 4em;
	}
