body{
	font-size: 16px;
	margin: 0px auto;
	max-width: 1024px;
	min-width: 1024px;
	font-family: 'Roboto', sans-serif;


}

#h-article1{
  display: inline-block;
  width: 57%;

}
#h-article2{
  display: inline-block;
  width: 42%
}
header{
		border-bottom: 1px dashed gray;
}
header nav {
  padding-bottom: 20px;


}
header nav ul{
  padding-bottom: 20px;
	position: relative;
	right: 50px;


}

header nav ul li{
	display: inline-block;
  padding: 8px;


}
header  img[alt]{
  position: relative;
  bottom: 110px;
  left: 298px;
  width: 7%;
  padding: 3px;
}
#first_bike{
  width: 35%;
  margin-top: 50px;
  padding-bottom: 15px;


}
#go_to_shop{
    width: 45%;
    position:relative;
    right: -30px;
    top: -35px;
}
#buy{
  position: relative;
  width: 15%;
  top: 25px;
  right: 220px;

}
#article1{
  width: 57%;
  display: inline-block;
  vertical-align: top;


}
#article2{
  width: 42%;
  display: inline-block;

}
#article1 img[alt]{
  display: inline-block;
  width: 45%;
	padding-top: 20px;

}
#video02{
  padding-right: 20px;
}
#article1-1{
  border-bottom: 1px dashed gray;
  padding-bottom: 10px;
  padding-top: 10px;

}
#article1-2{
	padding-top: 20px;
}
#bike{
  width: 95%;
  margin-left: 20px;
  float: right;
}
#fiveYears{
  width: 30%;
  position: relative;
  bottom: 80px;
  left: 15px;
}
footer section article{
	vertical-align: top;
}
#f-section2 > article{
	display: inline-block;
	width: 17.20%;
	padding: 12px;



}
#f-section1 > article{
	display: inline-block;
	padding-top: 20px;
}
.border{
	padding-bottom: 10px;
	border-bottom: 1px solid gray;

}
.bold{
	font-weight: bold;
}
.font_large{
	font-size: 70px;
}
.green{
	color: #73f33d;
}
.gray{
	color: gray;
}
